
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Bienvenu sur notre Boutique en ligne ! </h1>
    </div>
  </div>
  </div>
  
  
  <thead>
  <ul id="menu-accordeon">
    <li><a>TRIER PAR CATEGORIE</a>
      <ul>
        <select [(ngModel)]="categoryIdSelected" class="form-select">
          <option [ngValue]="null">TOUTES LES CATEGORIES</option>
          <option [ngValue]="category.categorie_id" *ngFor="let category of categoryList">{{ category.categorie_libelle }}</option>
        </select>
      </ul>
    </li>
  </ul>
  </thead>
  
  
  
  
  
  
  <table class="table table-striped table-borderless">
    <main>
      <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
          <div *ngFor="let prod of filtrerArticles(articles)"  (click)="askDetail(prod.article_id)">
            <div class="col">
              <div class="card h-100 shadow-sm">  <img [src]=prod.article_url class="card-img-top" alt="...">
                <div class="card-body">
                  <div class="clearfix mb-3">
                    <span class="float-end price-hp">{{prod.article_intitule}} </span> </div>
                  <div class="clearfix mb-3">
                    <span class="float-end price-hp">{{prod.article_prix}} € </span> </div>
                  <h5 class="card-title">{{prod.article_description}}</h5>
                  <div class="text-center my-4"> <a class="btn btn-warning"  (click)="askAddToCart(prod, $event)">Acheter</a> </div>
                </div>
              </div>
            </div>
          </div>
  
  
        </div>
      </div>
    </main>
  
  </table>
  
  
  
  