<div>
  <ul id="menu-accordeon">
    <li>
      <a>TRIER PAR CATEGORIE</a>
      <ul>
        <li>
          <select [(ngModel)]="categoryIdSelected" class="form-select">
            <option [ngValue]="null">TOUTES LES CATEGORIES</option>
            <option [ngValue]="category.categorie_id" *ngFor="let category of categoryList">
              {{ category.categorie_libelle }}
            </option>
          </select>
        </li>
      </ul>
    </li>
  </ul>
</div>
<table>
  <thead>
    <tr>
      <th>Nom de l'Article</th>
      <th>Catégorie</th>
      <th>Prix</th>
      <!-- Ajoutez d'autres en-têtes de colonne selon vos besoins -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of filtrerArticles(articles)">
      <td>{{ article.article_intitule }}</td>
      <td>{{ getLabelCategorie(article.article_categorie) }}</td>
      <td>{{ article.prixTVAC | currency }}</td>
      <!-- Ajoutez d'autres colonnes selon vos besoins -->
      <td>
        <button (click)="askDetail(article.article_id)">Détails</button>
        <button (click)="askEdit(article.article_id, $event)">Modifier</button>
        <button (click)="askDelete(article.article_id, $event)">Supprimer</button>
        <button (click)="askAddToCart(article, $event)">Ajouter au panier</button>
      </td>
    </tr>
  </tbody>
</table>
