<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-8 col-sm-10">
        <form (ngSubmit)="register()" [formGroup]="formGroup">
          <div class="login-body">
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Nom" formControlName="utilisateur_nom" id="utilisateur_nom" />
              <span class="error" *ngIf="formGroup.controls['utilisateur_nom'].touched && formGroup.controls['utilisateur_nom'].invalid">Le nom est obligatoire et doit contenir au moins 2 lettres</span>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Prénom" formControlName="utilisateur_prenom" id="utilisateur_prenom" />
              <span class="error" *ngIf="formGroup.controls['utilisateur_prenom'].touched && formGroup.controls['utilisateur_prenom'].invalid">Le prénom est obligatoire et doit contenir au moins 2 lettres</span>
            </div>
            <p class="error errorMessage mt-3" *ngIf="error">{{error}}</p>
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Email" formControlName="utilisateur_email" id="utilisateur_email" />
              <span class="error" *ngIf="formGroup.controls['utilisateur_email'].touched && formGroup.controls['utilisateur_email'].invalid">L'adresse email est obligatoire</span>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" placeholder="Mot de passe" formControlName="utilisateur_mdp" id="utilisateur_mdp" />
              <span class="error" *ngIf="formGroup.controls['utilisateur_mdp'].touched && formGroup.controls['utilisateur_mdp'].invalid">Le mot de passe est obligatoire</span>
            </div>
            <div class="mb-3">
              <input type="date" class="form-control" placeholder="Date de naissance" formControlName="utilisateur_date_naissance" id="utilisateur_date_naissance" />
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Téléphone" formControlName="utilisateur_gsm" id="utilisateur_gsm" />
            </div>
            <div class="save-barre">
              <button type="submit" class="btn btn-Valider" [disabled]="formGroup.invalid">Enregistrer</button>
            </div>
            <div class="save-barre mt-2">
              <button type="button" class="btn btn-Retour" (click)="askOrder()">Annuler</button>
            </div>
            
            <div class="mt-3">
              Si vous avez un compte? <a href="/login">Connectez-vous ici</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
