/* Global Styles */
html, body, .wrapper {
  background: #f7f7f7;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container */
.container {
  border: none;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

/* Buttons */
.btn {
  border-radius: 1px;
}

.btn-pay {
  background-color: rgb(154, 195, 154);
  border-radius: 25px;
  margin-top: 5px;
  margin-bottom: 5px; /* Ajoute une marge en bas */
  padding: 5px 10px; /* Diminue la taille du bouton */
  display: inline-block; /* Assure que les marges sont respectées */
}


.shipping {
  font-weight: 600;
  font-style: italic;
}

/* Form */
.form-control, .input-sm, .form-horizontal .form-group-sm .form-control {
  border-radius: 1px;
}

.form-outline.mb-4 {
  margin-bottom: 20px;
}

/* Panel */
.panel {
  border-radius: 1px;
  border-color: #999;
  margin-bottom: 1px;
}

.panel-heading {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  color: #eee;
  background-image: linear-gradient(to bottom, #555 0px, #888 100%);
}

.panel-footer {
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top: 1px solid #999;
  background: #fff;
}

/* Shadowbox */
.shadowbox {
  width: 30em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

/* List Styles */
ol, ul {
  list-style: none;
}

/* Media Queries */
@media only screen and (max-width: 989px) {
  .span1 {
    margin-bottom: 15px;
    clear: both;
  }
}

@media only screen and (max-width: 764px) {
  .inverse-1 {
    float: right;
  }
}

@media only screen and (max-width: 586px) {
  .cart-titles {
    display: none;
  }
  .panel {
    margin-bottom: 1px;
  }
}

@media only screen and (max-width: 486px) {
  .col-xss-12 {
    width: 100%;
  }
  .cart-img-show {
    display: none;
  }
  .btn-submit-fix {
    width: 100%;
  }
}

@media only screen and (max-width: 777px) {
  .container {
    overflow-x: hidden;
  }
}
