<main>
  <div id="container">
    <div class="px-5 ms-xl-4">
      <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #396a5b;"></i>
      <span class="h1 fw-bold mb-0">My Shop</span>
    </div>
    <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 pt-xl-0 mt-xl-n5">
    <form (ngSubmit)="login()" [formGroup]="credentials">
      <h2>CONNEXION</h2>
      <div class="mb-3">
        <label  class="form-label">Email</label>
        <input type="email" class="form-control" id="utilisateur_email" formControlName="utilisateur_email">
        <span class="error" *ngIf="credentials.controls['utilisateur_email'].touched && credentials.controls['utilisateur_email'].invalid">L'adresse email est obligatoire</span>
      </div>
      <div class="mb-3">
        <label  class="form-label">Password</label>
        <input type="password" class="form-control" id="utilisateur_mdp" formControlName="utilisateur_mdp">
        <span class="error" *ngIf="credentials.controls['utilisateur_mdp'].touched && credentials.controls['utilisateur_mdp'].invalid">Le mot de passe doit contenir au moins 6 caractères</span>
      </div>
      <button type="submit" class="btn btn-primary">Se connecter</button><div>
  
    </div>
  
      <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Mot de passe oublié ?</a></p>
      <p class="error errorMessage" *ngIf="error">{{error}}</p>
      <p>Vous n'avez pas de compte? <a href="/register" class="link-info">Créer ici </a></p>
      
      <button type="button" class="btn  btn-Retour" (click)="askBack()">Retourner</button>
    </form>
  
    </div>
  
  </div>
</main>

