
<div id="container">
  <div class="px-5 ms-xl-4">
    <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
    <span class="h1 fw-bold mb-0">ShopAround</span>
  </div>
  <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <h2>CONNEXION</h2>
    <div class="mb-3">
      <label  class="form-label">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email">
      <span class="error" *ngIf="credentials.controls['email'].touched && credentials.controls['email'].invalid">L'adresse email est obligatoire</span>
    </div>
    <div class="mb-3">
      <label  class="form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="mdp">
      <span class="error" *ngIf="credentials.controls['mdp'].touched && credentials.controls['mdp'].invalid">Le mot de passe doit contenir au moins 6 caractères</span>
    </div>
    <button type="submit" class="btn btn-primary">Se connecter</button><div>

  </div>

    <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Mot de passe oublié ?</a></p>
    <p>Vous n'avez pas de compte? <a href="/register" class="link-info">Créer ici </a></p>
    <div>
      <p class="error" *ngIf="error">{{error}}</p>
    </div>
    <button type="button" class="btn  btn-Retour" (click)="askBack()">Retourner</button>
  </form>

  </div>

</div>
