<main>
  <div class="container">
    <div class="content-center">
      <table class="table-responsive">
        <thead>
          <tr>
            <th>Article</th>
            <th>Libellé</th>
            <th>Prix unitaire</th>
            <th>Quantité</th>
            <th>Prix TVAC</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lignePanier of panier">
            <td><img [src]="lignePanier.article.article_url" class="card-img-top" alt="..."></td>
            <td><h5>{{ lignePanier.article.article_intitule }}</h5></td>
            <td class="prix">{{ lignePanier.article.article_prix }} €</td>
            <td>
              <a class="icon icon-sm rounded-rectangle border" style="position:relative">
                <span class="info-quantite">{{ lignePanier.quantite }}</span>
              </a>
            </td>
            <td class="prix">{{ lignePanier.quantite * lignePanier.article.article_prix }} €</td>
            <td>
              <div class="ligne-article-actions">
                <i class="fa-solid fa-square-plus" aria-hidden="true" (click)="addArticle(lignePanier.article)"></i>
                <i class="fa-solid fa-square-minus" aria-hidden="true" (click)="removeArticle(lignePanier.article)"></i>
                <a class="btn btn-Retour" (click)="askDelete(lignePanier.article.article_id)">
                  <i class="fa-solid fa-trash-alt"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <div class="prix-total">
          <span class="Prix-total" *ngIf="prixTotal > 0">Montant Total TVAC : {{ prixTotal }} €</span>
        </div>
        <div class="save-barre">
          <button type="button" class="btn btn-Retour" (click)="askBack()" *ngIf="prixTotal > 0">Annuler</button>
          <button type="button" class="btn btn-Valider" (click)="askOrder()" *ngIf="prixTotal > 0">Valider<i class="fa-solid fa-circle-check"></i></button>
          <button type="button" class="btn btn-vider" (click)="clearCart()" *ngIf="prixTotal > 0">Vider</button>
        </div>
        <div class="text-center my-5" *ngIf="prixTotal <= 0">
          <h4>Votre panier est vide</h4>
          <button class="btn btn-RetourPanier" routerLink="/">Retourner à la Boutique</button>
        </div>
      </div>
    </div>
  </div>
</main>
