<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"> Les details de votre panier</h1>
    </div>
  </div>

<table>
  <tr>
    <th >Article</th>
    <th >Libellé</th>
    <th >Prix unitaire </th>
    <th >Quantité</th>
    <th >Prix TVAC</th>
  </tr>
  <tr *ngFor="let lignePanier of panier">
    <img [src]=lignePanier.article.url class="card-img-top" alt="...">
    <td><h5>{{ lignePanier.article.intitule }}</h5></td>
    <td class="prix">{{ lignePanier.article.prix  }} €</td>
    <td><a class="icon icon-sm rounded-rectangle border" style="position:relative">
      <span class="info-quantite">{{ lignePanier.quantite }}</span>
    </a> </td>
    <td class="prix">{{ (lignePanier.quantite * lignePanier.article.prix )}} €</td>
    <td>
      <div class="ligne-article-actions">
        <i class="fa-solid fa-square-plus" aria-hidden="true" (click)="addArticle(lignePanier.article)"></i>
      </div>
    </td>
    <td>
      <div class="ligne-article-actions">
        <i class="fa-solid fa-square-minus" aria-hidden="true" (click)="removeArticle(lignePanier.article)"></i>
      </div>
    </td>
    <td>
      <div class="text-center my-4"> <a class="btn btn-warning"  (click)="askDelete(lignePanier.article.id)">Supprimer</a> </div>
    </td>
  </tr>
</table>
<div class="prix-total">
  <span colspan="3" class="Prix-total" style="text-align: right;padding-right: 10px;"  *ngIf="prixTotal > 0">Montant Total TVAC : &nbsp;&nbsp; {{ prixTotal  }} € </span>
</div>

<div class="save-barre">
  <button sytyle type="button" class="btn  btn-Retour" (click)="askBack()"  *ngIf="prixTotal > 0">Annuler</button>
  <button type="button" class="btn btn-Valider" (click)="askOrder()" *ngIf="prixTotal > 0">Valider..<i class="fa-solid fa-circle-check"></i></button>
</div>


  <div >
    <button type="button" class="btn  btn-vider" (click)="clearCart()" *ngIf="prixTotal > 0">Vider </button>
     </div>




<div class="text-center my-5 " style="background-color: white " *ngIf="prixTotal <= 0">
  <h4>Votre panier est vide</h4>
  <button class="btn  btn-RetourPanier"   routerLink="/">Retourner à la Boutique</button>
</div>
</div>
